#!/bin/bash

: << 'comment'
This program sets keys for the cloud services investigation project.  The delete
directive is:
aws secretsmanager delete-secret --secret-id $name --force-delete-without-recovery
comment

name=
description=
path=.iac/secrets/settings.json

aws secretsmanager create-secret --name "$name" --description "$description" --secret-string file://$path
shred -u $path
